*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

.container_email{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 180px;
    justify-content: center;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
}
.container_pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 240px;
    width: 500px;
    margin: 60px auto;
}

.container_rodape{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;

    align-self: flex-end;
    margin-top: 130px;
}
.texto {
    font-size: 12px;
    font-family: arial;
    color:grey;
    text-decoration: none;
    align-self: center;
}

.pesquisa_logo {
    display: flex;
    align-self: center;
    width: 270px;
    height: 84px;
}
.pesquisa_barra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    width: 460px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 50px;
}
.pesquisa_botoes {
    display:flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 290px;
    height: 40px;
}
.container_icones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 40px;
    width: 65px;
}
.lupa {
    height: 18px;
}
.input {
    width: 345px;
    height: 30px;
    border:none;
    outline: none;
}
.teclado {
    height: 20px;
}
.mic {
    height: 20px;
}

.botao {
    height: 40px;
    width: 140px;
    text-align: center;
    border:none;
    background-color: whitesmoke;
    cursor: pointer;
    outline:gray;
}
.botao:hover {
    background-color: lightgrey;
}

.conteudo_rodape {
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    height: 40px;
    border-style: solid;
    border: 0 0 1 0;

    border-width: 1px;
    border-color: gray;
    align-items: center;
}
.conteudo_rodape:nth-child(1){
    border-bottom: none;
}
.conteudo_rodape:nth-child(2){
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
.conteudo_rodape a {
    font-size: 14px;
    font-family: arial;
    text-decoration: none;
    color:grey;
}
.conteudo_rodape2 {
    display: flex;
    width: 390px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}

.conteudo_rodape2:nth-child(2){
    width:280px;
    justify-content: space-evenly;
}